# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/